<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SkyObject</key>
	<array>
		<string>Звезда - массивный газовый шар, излучающий свет и удерживаемый в состоянии равновесия силами собственной гравитации и внутренним давлением, в недрах которого происходят (или происходили ранее) реакции термоядерного синтеза.</string>
		<string>Планета - небесное тело, вращающееся по орбите вокруг звезды или её остатков, достаточно массивное, чтобы стать округлым под действием собственной гравитации, но недостаточно массивное для начала термоядерной реакции, и сумевшее очистить окрестности своей орбиты</string>
		<string>Комета - небесное тело, которое относительно других тел в космическом пространстве имеет сравнительно небольшую массу, обычно - неправильной формы, в составе — замёрзшие газы и нелетучие компоненты.</string>
		<string>Чёрная дыра - область пространства-времени, гравитационное притяжение которой настолько велико, что покинуть её не могут даже объекты, движущиеся со скоростью света, в том числе кванты самого света. Граница этой области называется горизонтом событий, а её характерный размер — гравитационным радиусом.</string>
		<string>Квазар - класс объектов вселенной, которые отличаются достаточно высокой светимостью и таким малым угловым размером, что на протяжении нескольких лет после обнаружения их не получалось отличить от «точечных источников» – звёзд.</string>
		<string>Магнетар или магнитар - нейтронная звезда, обладающая исключительно сильным магнитным полем.</string>
		<string>Галактика - гравитационно-связанная система из звёзд, звёздных скоплений, межзвёздного газа и пыли, тёмной материи, планет. Все объекты в составе галактики участвуют в движении относительно общего центра масс.</string>
		<string>Астероиды - это твердые каменистые тела, которые подобно планетам движутся по околосолнечным эллиптическим орбитам. Но размеры этих тел намного меньше, чем у обычных планет, поэтому их еще называют малыми планетами.</string>
	</array>
</dict>
</plist>
